@import "tailwindcss";

@theme{
  --color-site-konnectai-100: oklch(0.7053 0.1561 161.26);
  --color-site-konnectai-200: oklch(0.9061 0.1631 152.86);
  --color-paleta-konnectai-primary: oklch(0.2511 0.0427 197.31);
  --color-paleta-konnectai-secondary: oklch(0.7963 0.1747 161.43);
  --color-paleta-konnectai-terciary: oklch(0.9464 0.0013 286.37);
  --color-paleta-konnectai-forth: oklch(0.9502 0.0819 151.1);
}

h1{
  @apply text-6xl font-bold
}
h2{
  @apply text-5xl
}
h3{
  @apply text-4xl
}
h4{
  @apply text-3xl
}
h5{
  @apply text-2xl font-medium
}
.degradeTextoFundoEscuro{
  @apply bg-linear-to-r from-paleta-konnectai-secondary to-site-konnectai-200 bg-clip-text text-transparent
}
.degradeTextoFundoClaro{
  @apply bg-linear-to-r from-paleta-konnectai-primary to-paleta-konnectai-secondary bg-clip-text text-transparent
}

.degradeClaro{
  @apply bg-linear-to-r from-paleta-konnectai-secondary to-paleta-konnectai-terciary 
}
.degradeEscuro{
  @apply bg-linear-to-r from-paleta-konnectai-primary to-paleta-konnectai-secondary 
}